<!DOCTYPE html>

<html>
    <head><link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
    </head>

<body>
    <h1>OPS! 404 Error ! Article NOT FOUND! </h1>

    {{>header}}

    <div class="container">
        <div class="row">
          <div class="col">Sorry, but 404!</div>
          <img src="https://cdn4.wpbeginner.com/wp-content/uploads/2016/01/best404pluginswp.jpg"></a></div>
        </div>
      </div>
    {{>footer}}
</body>

</html>