<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="./imgs/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    <div class="img-content">
        <img src="https://thenypost.files.wordpress.com/2019/06/free-hong-kong-01.jpg?quality=90&strip=all&w=618&h=410&crop=1">
    </div>
    
    {{>footer}}
</body>

</html>