<!DOCTYPE html>

<html>
    <head>WEATHERWEATHERWEATHERWEATHERWEATHER !</head>

<body>
    <head><link rel="stylesheet" href="/nodeJS/nodeJS/webserver/public/css/style.css"></head>

    <div class="container">
        <div class="row">
          <div class="col">WEATHER</div>
          <div class="col">WEATHER</div>
          <div class="w-100"></div>
          <div class="col">WEATHER</div>
          <div class="col">WEATHER</div>
        </div>
      </div>

</body>

</html>



